

:root{
    --primary-color: #fff;
    --dark-blue: #101828;
    --light-gray: #667085;
    --dark-red: #8e2424;
}

body, a{
    color: var(--light-gray);
}
h4{
  color: var(--dark-red)
}
h1{
  color: var(--dark-blue)
}
h2{
  color: var(--dark-red)
}
h5{
  color: var(--dark-blue)
}
p{
  color: var(--light-gray);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Estilos gerais */
body{
    font-family: "Inter", sans-serif;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 2rem;
   
}
.main-nav{
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
    
    & .nav{
        display:flex;
        gap: 2rem
        
    }
    & .botoes-autenticacao{
      display: flex;
      gap: 2rem;
      
    }
    & .cadastrar{
      background-color: #8e2424;
       padding: 0.25rem 1.5rem;
       border-radius: 8px;
       color: #fff;
    }
   
}
 .sobre-nos{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 8rem;
      gap: 2rem;
    }

    .sobre-nos2{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 8rem;
      gap: 2rem;
    }

    .cards{
      display: flex;
      gap: 2rem;
      justify-content: space-around;
      margin-top: 10rem;
      
    }
    h2{
      font-size: 45px;
    }
    h5{
      font-size: 20px;
    }
    .infos{
      text-align: center;
      margin-top: 13rem;
      
      & .info2{
        display: flex;
        flex-direction: column;
        margin-bottom: 7rem;
        gap: 2rem;
      }
      & .funcionarios{
        display: flex;
      margin-left: 18rem;
      }
    }
    